@page "/dir/methodology"
@page "/kii/methodology"


<div class="container">
    <div class="main-page-button-container">
        <div class="main-page-button">
            <button @onclick="OpenCapacityPage"> Методика оцінювання спроможності виконання вимог/заходів кіберзахисту </button>
        </div>

        <div class="main-page-button">
            <button @onclick="OpenFeasibilityPage"> Методика оцінювання виконуваності вимог/заходів кіберзахисту </button>
        </div>

    </div>
</div>