@page "/dir/select-type"
@page "/kii/select-type"


<div class="container">
    <div class="main-page-button-container">
        <div class="main-page-button">
            <button> ЕКСПОРТ З MS EXCEL </button>
        </div>

        <div class="main-page-button">
            <button @onclick="OpenCreateDataPage"> ВВЕСТИ ВРУЧНУ </button>
        </div>
    </div>
</div>