@page "/dir/select-type"
@page "/kii/select-type"


<div class="container">
    <div class="main-page-button-container">
        <div class="main-page-button">
            <button @onclick="OpenInputTypePage"> ВВЕДЕННЯ ДАНИХ </button>
        </div>

        <div class="main-page-button">
            <button @onclick="OpenAnalyzerPage"> АНАЛІЗ ДАНИХ </button>
        </div>

        <div class="main-page-button">
            <button @onclick="OpenDataListPage"> СПИСОК ДАНИХ </button>
        </div>
    </div>
</div>