@page "/dir/select-type"
@page "/kii/select-type"


<div class="container">
    <div class="main-page-button-container">
        <div class="main-page-button">
            <button @onclick="OpenDirPage"> ВВЕДЕННЯ ДАНИХ </button>

        </div>

        <div class="main-page-button">
            <button @onclick="OpenDirPage"> АНАЛІЗ ДАНИХ </button>
        </div>

        <div class="main-page-button">
            <button @onclick="OpenDirPage"> СПИСОК ДАНИХ </button>
        </div>
    </div>
</div>