@page "/"


<div class="container">
    <div class="main-page-button-container">
        <div class="main-page-button">
            <button @onclick="OpenDirSelectTypePage"> ДІР </button>

        </div>
        <div class="main-page-button">
            <button @onclick="OpenKiiSelectTypePage"> КІІ </button>
        </div>
    </div>
</div>