@page "/"


<div class="container">
    <div class="main-page-button-container">
        <div class="main-page-button">
            <button @onclick="OpenDirPage"> ДІР </button>

        </div>
        <div class="main-page-button">
            <button @onclick="OpenDirPage"> КІІ </button>
        </div>
    </div>
</div>