@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <img src="img/back.svg" alt="Back" onclick="openPreviousPage()">
        <img src="img/home.svg" alt="Home" onclick="goHome()">
    </div>

        @Body
</div>
