@inherits LayoutComponentBase

<div class="page">
    <div class="page-header">
        <div class="header-icon-container">
            <img src="img/icon.svg" alt="header-icon" class="header-icon" />

        </div>
        <div class="header-title">Державна служба спеціального зв’язку та захисту інформації України</div>
    </div>
    <div class="body-container">
        @Body
    </div>
</div>
