input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: unset;
}

.container {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.name_input {
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.table_1 {
    display: block;
    width: 100%;
    text-align: center;
}

.table_1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

    .table_1 div {
        margin-bottom: 10px;
    }

.table_question {
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted;
}

    .table_question label {
        display: block;
        margin: auto;
    }

    .table_question input {

    }

    .table_question textarea {
        width: 100%;
        box-sizing: border-box;
        height: 32px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

button {
    padding: 4px 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.delete-button {
    background-color: #ff001e;
}

    .delete-button:hover {
        background-color: #b3001b;
    }

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.centered-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .checkbox-container input {
        margin-right: 5px;
    }

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.centered-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .checkbox-container input {
        margin-right: 5px;
    }

.textarea-container textarea {
    margin-left: 10px;
    width: 300px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 32px;
    border-radius: 10px;
}

.number-input-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

    .number-input-container input {
        max-width: 100px;
        width: fit-content;
        height: fit-content;
        margin-right: 10px;
        padding: 8px;
        box-sizing: border-box;
    }

    .number-input-container div {
        margin-left: 10px;
        margin-right: 10px;
    }

.ratio-button {
    margin-left: 25px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    background-color: #6d7782;
    margin-right: 10px;
}

.radio-container {
    display: flex;
    align-items: center;
    font-size: 14px;
}

    .radio-container input {
        margin-right: 5px;
    }

    .radio-container label {
        display: flex;
        align-items: center;
    }

    .table_item {
        display: block;
        margin-bottom: 10px;
    }

    .table_item .table_question {
        margin-bottom: 0px;
    }

.table_question-rande {
    display: flex;
}

    .table_question-rande input {
        width: 50%;
    }

.table_question-range-data {
    width: 60px;
    padding: 8px;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    margin-left: 15px;
    text-align: center;
}

.table_question-range-text {
    font-size: 14px;
    text-align: center;
}

.table_question-range-subtitle {
    width: 40%;
    margin: auto 15px;
    font-size: 12px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    font-weight: 600;
}

.table-percentage {
    background: #d9e2f3;
}

.table-id {
    background: #bdd7ee;
}

.table-pr {
    background: #c59ee2;
}

.table-de {
    background: #ffe599;
}

.table-rs {
    background: #ff9797;
}

.table-rc {
    background: #c5e0b3;
}

.table-style {
    border: 1px dotted;
}