@page "/dir/capacities/list"

<div class="container">
    <div class="dir-list">

        <div class="container-title">ДІР</div>

        @foreach (var item in _dirModels)
        {
            <div class="dir-item">
                <div class="item-name" @onclick="() => OpenDirById(item.Id)">
                    <div class="item-name-text">
                        @item.Name
                    </div>
                </div>

                <div class="item-buttons">
                    <div class="item-button" @onclick="() => OpenDirByIdForUdate(item.Id)" style="margin-right: 17px;">Редагувати</div>
                    <div class="item-button" @onclick="() => DeleteFromDb(item.Id)">Видалити</div>
                </div>
            </div>
        }

        @if (_dirModels != null && _dirModels.Count == 0)
        {
            <div class="main-page-button">
                <button @onclick="OpenInputTypePage"> ДОДАТИ ДАНІ </button>
            </div>
        }

    </div>

</div>